<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%= require('html-loader!./piano.html').default %>
    <ul id="music-sheet"></ul>
    <form id="controls">
      <button id="play">Play</button>
      <button id="stop" style="visibility: hidden;">Stop</button>
      <%= require('html-loader!./file.html').default %>
    </form>
</body>

</html>