<div id="piano">
    <ul class="piano">
        <li class="octave">
            <ul>
                <li class="white key" data-key="A0"></li>
                <li class="black key" data-key="A#0"></li>
                <li class="white key" data-key="B0"></li>
            </ul>
        </li>
        <li class="octave selected">
            <ul>
                <li class="white key" data-key="C1"></li>
                <li class="black key" data-key="C#1"></li>
                <li class="white key" data-key="D1"></li>
                <li class="black key" data-key="D#1"></li>
                <li class="white key" data-key="E1"></li>
                <li class="white key" data-key="F1"></li>
                <li class="black key" data-key="F#1"></li>
                <li class="white key" data-key="G1"></li>
                <li class="black key" data-key="G#1"></li>
                <li class="white key" data-key="A1"></li>
                <li class="black key" data-key="A#1"></li>
                <li class="white key" data-key="B1"></li>
            </ul>
        </li>
        <li class="octave">
            <ul>
                <li class="white key" data-key="C2"></li>
                <li class="black key" data-key="C#2"></li>
                <li class="white key" data-key="D2"></li>
                <li class="black key" data-key="D#2"></li>
                <li class="white key" data-key="E2"></li>
                <li class="white key" data-key="F2"></li>
                <li class="black key" data-key="F#2"></li>
                <li class="white key" data-key="G2"></li>
                <li class="black key" data-key="G#2"></li>
                <li class="white key" data-key="A2"></li>
                <li class="black key" data-key="A#2"></li>
                <li class="white key" data-key="B2"></li>
            </ul>
        </li>
        <li class="octave">
            <ul>
                <li class="white key" data-key="C3"></li>
                <li class="black key" data-key="C#3"></li>
                <li class="white key" data-key="D3"></li>
                <li class="black key" data-key="D#3"></li>
                <li class="white key" data-key="E3"></li>
                <li class="white key" data-key="F3"></li>
                <li class="black key" data-key="F#3"></li>
                <li class="white key" data-key="G3"></li>
                <li class="black key" data-key="G#3"></li>
                <li class="white key" data-key="A3"></li>
                <li class="black key" data-key="A#3"></li>
                <li class="white key" data-key="B3"></li>
            </ul>
        </li>
        <li class="octave">
            <ul>
                <li class="white key" data-key="C4"></li>
                <li class="black key" data-key="C#4"></li>
                <li class="white key" data-key="D4"></li>
                <li class="black key" data-key="D#4"></li>
                <li class="white key" data-key="E4"></li>
                <li class="white key" data-key="F4"></li>
                <li class="black key" data-key="F#4"></li>
                <li class="white key" data-key="G4"></li>
                <li class="black key" data-key="G#4"></li>
                <li class="white key" data-key="A4"></li>
                <li class="black key" data-key="A#4"></li>
                <li class="white key" data-key="B4"></li>
            </ul>
        </li>
        <li class="octave">
            <ul>
                <li class="white key" data-key="C5"></li>
                <li class="black key" data-key="C#5"></li>
                <li class="white key" data-key="D5"></li>
                <li class="black key" data-key="D#5"></li>
                <li class="white key" data-key="E5"></li>
                <li class="white key" data-key="F5"></li>
                <li class="black key" data-key="F#5"></li>
                <li class="white key" data-key="G5"></li>
                <li class="black key" data-key="G#5"></li>
                <li class="white key" data-key="A5"></li>
                <li class="black key" data-key="A#5"></li>
                <li class="white key" data-key="B5"></li>
            </ul>
        </li>
        <li class="octave">
            <ul>
                <li class="white key" data-key="C6"></li>
                <li class="black key" data-key="C#6"></li>
                <li class="white key" data-key="D6"></li>
                <li class="black key" data-key="D#6"></li>
                <li class="white key" data-key="E6"></li>
                <li class="white key" data-key="F6"></li>
                <li class="black key" data-key="F#6"></li>
                <li class="white key" data-key="G6"></li>
                <li class="black key" data-key="G#6"></li>
                <li class="white key" data-key="A6"></li>
                <li class="black key" data-key="A#6"></li>
                <li class="white key" data-key="B6"></li>
            </ul>
        </li>
        <li class="octave">
            <ul>
                <li class="white key" data-key="C7"></li>
                <li class="black key" data-key="C#7"></li>
                <li class="white key" data-key="D7"></li>
                <li class="black key" data-key="D#7"></li>
                <li class="white key" data-key="E7"></li>
                <li class="white key" data-key="F7"></li>
                <li class="black key" data-key="F#7"></li>
                <li class="white key" data-key="G7"></li>
                <li class="black key" data-key="G#7"></li>
                <li class="white key" data-key="A7"></li>
                <li class="black key" data-key="A#7"></li>
                <li class="white key" data-key="B7"></li>
            </ul>
        </li>
        <li class="octave">
            <ul>
                <li class="white key" data-key="C8"></li>
            </ul>
        </li>
    </ul>
</div>